@{
    ViewData["Title"] = "Job Config";
    ViewData["ActiveNav"] = "Config";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        </ol>
    </nav>
</div>

<div class="col-12">

    <div class="row justify-content-between">

        <div class="col-md-3 mb-4">

            <div class="list-group card border-0">

                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Job Category
                </a>

                <a href="#" class="list-group-item list-group-item-action">Job Qualifications</a>
                <a href="#" class="list-group-item list-group-item-action">Job Type</a>
                <a href="#" class="list-group-item list-group-item-action">Salary Type</a>
                <a href="#" class="list-group-item list-group-item-action">Salary Range</a>
                <a href="#" class="list-group-item list-group-item-action">Job Experience</a>
                <a href="#" class="list-group-item list-group-item-action">Job Shift</a>
                <a href="#" class="list-group-item list-group-item-action">Job Level</a>
            </div>
        </div>

        <div class="col-md-9">
            <table class="table table-bordered bg-white table-report border shadow-sm">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Title</th>
                        <th>Added Date</th>
                        <th>Added By</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                        <td>
                            <a><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('.table-report').DataTable({
                "aLengthMenu": [[25,50,100, -1], [25, 50, 100,"All"]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true
            });
        });
    </script>
}