<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eJob Portal</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icon/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="base">

    <!-- ======= Header ======= -->
    <header class="container d-flex justify-content-between py-3">

        <div class="">
            <a href="/">
                <img src="~/static/logoSmall.png" style="max-width: 150px; max-height: 150px;" />
            </a>
        </div>

        <div class="d-flex">
            <div class="ps-4 pt-1 flex-fill">
                <a href="#" class="d-block pt-1 text-primary">Employer</a>
            </div>
            <div class="ps-4 flex-fill">
                <a href="#"><i class="fs-4 text-secondary bi bi-grid-3x3-gap-fill"></i></a>
            </div>
            <div class="ps-4 flex-fill">
                <a asp-area="" asp-controller="account" asp-action="login" class="btn btn-sm btn-success text-white px-3">Login</a>
            </div>
        </div>

    </header>
    <!-- End Header -->
    <!-- ======= Main ======= -->
    <main class="container">

        <section class="section">
            @RenderBody()
        </section>

        <div class="clearfix"></div>

        <!-- Footer -->
        <footer class="py-5">
            <div class="footer-inner d-flex justify-content-between">
            </div>
        </footer>
        <!-- /.site-footer -->

    </main>
    <!-- End #main -->
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>