@using Microsoft.AspNetCore.Identity
@inject SignInManager<AdminUser> SignInManager
@inject UserManager<AdminUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var role = await UserManager.GetRolesAsync(user);

    string ProfilePictureUrl = Convert.ToBase64String(user?.ProfilePicture ?? Array.Empty<byte>());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eJob Portal</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icon/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/lib/jquery-toast-plugin/jquery.toast.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo">
                <img src="~/static/logo2.png" alt="">
            </a>
            <i class="bi bi-list fs-3 toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <div class="px-4">
            @*<a asp-area="Jobs" asp-controller="Job" asp-action="Add" class="btn btn-success">Post a Job</a>*@
        </div>

        <nav class="header-nav ms-auto">

            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

                        @if (String.IsNullOrEmpty(ProfilePictureUrl) || ProfilePictureUrl == null)
                        {
                            <img src="~/static/default-img.jpg" class="rounded-circle border" style="width:36px; height:36px;">
                        }
                        else
                        {
                            <img src="data:image;base64,@ProfilePictureUrl" class="rounded-circle border" style="width:36px; height:36px;">
                        }

                        <span class="d-none d-md-block dropdown-toggle ps-2">@user?.FirstName</span>
                    </a>
                    <!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@user?.FirstName @user?.LastName</h6>
                            <span>@role[0]</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="Users" asp-controller="Profile" asp-action="Index">
                                <i class="fa fa-user"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#" onclick="logOut()">
                                <i class="fa fa-sign-out"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
            <form class="form-inline"
                  id="logOutForm"
                  asp-area=""
                  asp-controller="Account"
                  asp-action="Logout">
            </form>
        </nav>
        <!-- End Icons Navigation -->

    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->

    <partial name="_SideBar" />

    <!-- End Sidebar-->
    <!-- ======= Main ======= -->
    <main id="main" class="main">

        <section class="section" style="min-height: 700px;">
            @RenderBody()
        </section>

        <div class="clearfix"></div>

        <!-- Footer -->
        <footer class="py-5">
            <div class="footer-inner d-flex justify-content-between">
                <small class="text-black-50">
                    Designed by <a href="" class="text-black-50">Sant Bohara</a>
                </small>
            </div>
        </footer>
        <!-- /.site-footer -->

    </main>
    <!-- End #main -->

    <script>
        function logOut() {
            document.getElementById("logOutForm").submit();
        }
    </script>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/clipboard.js/clipboard.min.js"></script>
<script src="/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="~/js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>
    tinymce.init({
        selector: 'textarea.editor'
    });
</script>
</html>