<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewData["ActiveNav"] == "Dashboard" ? "active" : "")" asp-area="" asp-controller="Dashboard" asp-action="Index">
                <i class="bi bi-speedometer2 fs-5"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewData["ActiveNav"] == "Jobs" ? "active" : "")" asp-area="Jobs" asp-controller="Job" asp-action="Index">
                <i class="bi bi-briefcase"></i>
                <span>Jobs</span>
            </a>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewData["ActiveNav"] == "Users" ? "active" : "")" asp-area="Users" asp-controller="User" asp-action="Index">
                    <i class="bi bi-people"></i>
                    <span>Users</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link @(ViewData["ActiveNav"] == "Config" ? "active" : "")" asp-area="Config" asp-controller="JobConfig" asp-action="Index">
                    <i class="bi bi-gear"></i>
                    <span>Config</span>
                </a>
            </li>
        }
    </ul>
</aside>