@{
    ViewData["Title"] = "Dashboard";
    ViewData["ActiveNav"] = "Dashboard";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </nav>
</div>

<div class="row mb-3">
    <!-- Widget Type 1-->
    <div class="col-6 col-sm-6 col-lg-3">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-normal">520</h4>
                        <p class="text-muted mb-0">Active Job</p>
                    </div>
                    <div class="text-success text-opacity-50 fs-1">
                        <i class="bi bi-briefcase"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-lg-3">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-normal">1584</h4>
                        <p class="text-muted mb-0">Jobs Views</p>
                    </div>
                    <div class="text-primary text-opacity-50 fs-1">
                        <i class="bi bi-check2-circle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-lg-3">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-normal">876</h4>
                        <p class="text-muted mb-0">Job Applications</p>
                    </div>
                    <div class="text-warning text-opacity-50 fs-1">
                        <i class="bi bi-file-bar-graph"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 col-sm-6 col-lg-3">
        <div class="card shadow-none">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="fw-normal text-green">150</h4>
                        <p class="text-muted mb-0">Application Pending</p>
                    </div>
                    <div class="text-info text-opacity-50 fs-1">
                        <i class="bi bi-clock-history"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widget Type 1-->
</div>

